.game-board {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.game {
  font: 14px 'Century Gothic', Futura, sans-serif;
  margin: 20px;
  min-height: 260px;
}
